@page "/projects"
@inject ProjectsClient ProjectsClient

@attribute [StreamRendering]

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

@* Check is projects is null *@
@if (projects is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var project in projects)
    {
        <ProjectCard Project="project" />
    }
}

@code {
    private ProjectSummary[]? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectsClient.GetProjectsAsync();
    }
}
